body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(132, 205, 228);
    background-color: rgba(2, 69, 107, 0.897);
    margin: 0;
    padding: 0;
}

header .head
{
    font-size: 3rem;
}
.container
{
    width: 70%;
    padding: 1em;
    
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.container h1
{
    font-size: 45px;
}

.container a
{
    color: rgb(250, 253, 255);
    text-decoration: none;
    font-size: 4rem;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 3rem;
}